<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="home.css">
    
    <title>Gamer's Den</title>
  </head>
  <body>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#"> Navigation</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- All the different pages in my website are referenced and can be called by selecting on the navigation bar. As of now they are all differnet glitch projects until I learn to keep the different pages in different html files.-->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html"
              >Home</a
            >
          </li>
           <li class="nav-item">
            <a class="nav-link" href="brick.html"
              >Play</a
            >
             <li class="nav-item">
            <a class="nav-link" href="log-in.html"
              >Log-in</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://jva.schools.smcdsb.on.ca/"
              >My School</a
            >
          </li>
          </li>
        </ul>
      </div>
    </nav>
    <container> </container>
    <body
    id="background1"
    background="https://cdn.glitch.com/bceef7e5-13ac-4a75-9a2c-cc6d73d3a484%2Fbackground-gaming_192440.jpg?v=1579878591755"
  ></body>
   <div style="background-color:white;color:grey;padding:20px;">
      <h1 style="text-align:center;">
      Welcome to the Gamer's Den!
      </h1>
      </div>
   <div style="background-color:white;color:grey;padding:20px;">
         <img align= "middle" src="https://cdn.glitch.com/bceef7e5-13ac-4a75-9a2c-cc6d73d3a484%2Fdd26118ec5c010f874fd57f5325fb2a19cc44f1fr1-2048-1381v2_hq.jpg?v=1579880289370" 
              alt="Jameson Narain" class="jameson">
     <p id="instructions">
  In order to play our brick breaker game, you'll need either a <strong>Mobile device, keyboard, or mouse,</strong>. If playing on keyboard, you may use your left and right arrow keys to move the paddle. If playing with a mouse, just simply move your mouse around. On mobile, press where you want to go. To simply play, click on the play tab above!
     </p>
  </div>
  
  </body>
    </html>
